<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script th:src="@{include/commonfile.html}"></script>
</head>
<body>
<header th:replace="~{include/header :: header(${userid})}"></header>

<div th:replace="~{include/sidebar :: sidebar(${userid})}"></div>

<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<p th:text="${message} ?: 'no message'"></p>, [[${userid}]]

<footer th:replace="include/footer :: footer"></footer>
</body>
</html>